<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.hung.example"
        versionCode="10" 
        version   = "1.0.0">

  
     <name>DumiStream</name>

    <description>
        DumiStream Media Application. 
    </description>

    <author email="gnm3000@gmail.com" href="http://phonegap.com">
       German Montenegro
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="WebViewBounce" value="true" />
    <gap:platform name="android" />
     <icon src="icon.png" />
    
</widget>
